{% assign domain = include.domain %}

<paper-material elevation="1">
  <h2 class="heading"><span>{{domain.domain}}</span> Domain</h2>

  <p class="description">
    {{domain.description}}
  </p>
  {% include experimental.html item=domain %}
</paper-material>

{% comment %}
Hide entries marked with "redirect". Those are just for backwards compatibility.
{% endcomment %}
{% assign commands = (domain.commands | where: "redirect", null) %}
{% assign events = (domain.events | where: "redirect", null) %}
{% assign types = (domain.types | where: "redirect", null) %}

{% if commands[0] %}
<h3>Methods</h3>
<paper-material elevation="1" class="methods">
  {% for method in commands %}
    {% include method.html method=method %}
  {% endfor %}
</paper-material>
{% endif %}

{% if events[0] %}
<h3>Events</h3>
<paper-material elevation="1" class="events">
  {% for event in events %}
    {% include event.html event=event %}
  {% endfor %}
</paper-material>
{% endif %}

{% if types[0] %}
<h3>Types</h3>
<paper-material elevation="1" class="types">
  {% for type in types %}
    {% include type.html type=type %}
  {% endfor %}
</paper-material>
{% endif %}
