html, body {
  padding: 0;
  margin: 0;
  height: 100%;

  /* Border used in the aside to mark different sections */
  --separation-border: 1px solid rgba(0, 0, 0, 0.14);
}

body {
  display: flex;
}

aside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: var(--separation-border);
}

#versions header, #domains header {
  font-weight: bold;
  font-size: 1.3em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--separation-border);
}

#domains {
  display: flex;
  flex-direction: column;
  flex: 1;
  /*
   * Without this, the scroller won't properly compute its height and
   * enforce that items in it are overflowing.
   */
  min-height: 0;

  border-top: var(--separation-border);
}

/* Scroller used to make sure that domains are overflowing with display flex */
#domains .scroller {
  flex: 1;
  overflow-y: auto;
}

#versions nav a, #domains nav a {
  flex: 1;
  display: block;

  font-weight: 400;
  line-height: 18px;
  min-height: 36px;
  padding: 0 16px;

  border-left: 10px solid transparent;

  display: flex;
  align-items: center;
}

#domains nav a.experimental {
  border-left: 10px solid #E5737399;
}

#domains nav a.deprecated {
  border-left: 10px solid #FFCC8099;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  /* Make sure that if the content is too small, we still show the full header */
  flex-grow: 1;
}

main > header {
  background-color: #3f51b5;
  color: white;
}

main > header h1 {
  --header-height: 26px;
  font-size: var(--header-height);
  line-height: var(--header-height);
  padding-left: 10px;
}

main > section {
  overflow-y: auto;
  padding: 25px;
  /* To make sure that the GitHub badge positions correctly */
  position: relative;
}

/* Make sure that code snippets don't overflow the full content container */
pre {
  overflow-x: auto;
}

/* Make sure that images don't overflow the full content container */
img {
  max-width: 100%;
  object-fit: scale-down;
}

.gh-badge img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}