:root {
  --font-stack: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --dark-primary-color: #303F9F;
  --default-primary-color: #3F51B5;
  --light-primary-color: #C5CAE9;
  --text-primary-color: #ffffff; /*text/icons*/
  --accent-color: #FF4081;
  --primary-background-color: #c5cae9;
  --primary-text-color: #212121;
  --secondary-text-color: #727272;
  --disabled-text-color: #bdbdbd;
  --divider-color: #B6B6B6;

  /* Components */

  /* paper-drawer-panel */
  --drawer-menu-color: #ffffff;
  --drawer-border-color: 1px solid #ccc;
  --drawer-toolbar-border-color: 1px solid rgba(0, 0, 0, 0.22);

  /* paper-listbox */
  --paper-listbox-background-color: #fff;
  --menu-link-color: #111111;

  --header-height: 64px;
  --main-content-padding: 48px;
}

#drawerToolbar {
  color: var(--secondary-text-color);
  background-color: var(--drawer-menu-color);
  border-bottom: var(--drawer-toolbar-border-color);
}

#drawerContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--default-primary-color);
}

#domainContainer a {
  color: var(--menu-link-color);
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  background: #fafafa;
  font-family: var(--font-stack);
  color: #333;
  position: fixed;
}

h3 {
  margin-top: 40px;
}

paper-listbox {
  overflow-y: auto;
}

#versions paper-listbox a, #domainContainer a {
  text-decoration: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  min-height: 48px;
  padding: 0 16px;
}

paper-listbox a:hover, iron-selector a:hover {
  background: hsl(0,0%, 98%);
}

paper-listbox a.iron-selected, iron-selector a.iron-selected {
  border-right: 5px solid #4bbda8;
}

.header-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  overflow-y: auto;
}

#drawer paper-dropdown-menu {
  padding: 0 16px;
  width: calc(100% - 32px);
  background: hsl(0, 0%, 82%);
}

#domainContainer {
  display: block;
  overflow-y: auto;
  height: 100%;
}

#versions {
  --paper-listbox-background-color: #c5cae9;
}

#drawerToolbar {
  height: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

#mainToolbar {
  background: #3f51b5;
  color: white;
  min-height: 64px;
  flex-direction: row;
}

#mainToolbar .title {
  font-size: 20px;
  line-height: 20px;
  white-space: normal;
  overflow: visible;
}

.home-page-content {
  min-height: 102px;
  word-wrap: break-word;
}

.home-page-content h4 {
  margin-bottom: 0;
}

.home-page-content .screenshot div {
  background-repeat: no-repeat;
  text-indent: -999em;
  background-size: cover;
  height: 260px;
  background-position-y: -122px;
}

.gh-badge {
  float: right;
  width: 110px;
  height: 110px;
  shape-margin: 5px;
  shape-outside: polygon(0px 0px, 110px 0px, 110px 110px);
}

.gh-badge img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.home-page-content pre {
  margin: 8px 0;
  background: #efefef;
  overflow: auto;
  border-radius: 1px;
  padding: 3px 8px;
  border: 1px solid #d2d2d2;
}

p {
  margin: 0.5rem 0 1rem;
}

/* Breakpoints */

/* Wide */
@media (max-width: 980px) {
  #mainContainer .content {
    padding: var(--main-content-padding) 40px;
  }
}

/* Small */
@media (max-width: 600px) {
  .content {
    padding: var(--main-content-padding) 10px;
  }

  #drawer .paper-toolbar {
    margin-left: 16px;
  }
}

/* extra narrow */
@media (max-width: 405px) {
  body {
    font-size: 13px
  }

  .content {
    padding: 18px 0px;
  }
}

/* Tablet+ */
@media (min-width: 601px) {
  #drawer {
    border-right: 1px solid rgba(0, 0, 0, 0.14);
  }

  .content {
    padding: var(--main-content-padding) 20px;
  }

  #mainToolbar .title {
    font-size: 26px;
    line-height: 26px;
  }
}

/* <app-drawer> by default shown */
@media (min-width: 641px) {
  #paperToggle {
    display: none;
  }
}

/* Search Control styles */
.search-active  .title {
  display: none;
}
.search-active #paperToggle {
  display: none;
}
.search-active  cr-search-control {
  width: 100%;
}

/* selected item highlighting */
:target, :target ~ * {
    margin-left: -10px;
    border-left: 2px solid #3f51b5;
    padding-left: 10px;
}
